# Homework : Time Series

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime
%matplotlib inline

In [2]:
obj_trouves = pd.read_csv('data/objets-trouves-restitution.csv',sep = ';',parse_dates=True, index_col = 'Date')

In [3]:
obj_trouves.head()

,Date et heure de restitution,Gare,Code UIC,Nature d'objets,Type d'objets,Type d'enregistrement
Date,,,,,,
2017-06-20 16:05:25+02:00,NaN,Nîmes,87775007.0,"Sac de voyage, sac de sport, sac à bandoulière","Bagagerie: sacs, valises, cartables",Objet trouvé
2017-08-10 17:33:37+02:00,2017-08-11T16:13:06+02:00,Boulogne Ville,87317586.0,Téléphone portable,"Appareils électroniques, informatiques, appare...",Objet trouvé
2017-07-03 10:57:43+02:00,NaN,Nîmes,87775007.0,Sac à dos,"Bagagerie: sacs, valises, cartables",Objet trouvé
2017-08-11 09:26:05+02:00,2017-08-11T16:16:52+02:00,Dijon,87713040.0,Sac à dos,"Bagagerie: sacs, valises, cartables",Objet trouvé
2017-07-11 10:13:04+02:00,NaN,Nîmes,87775007.0,"Clés, porte-clés","Clés, porte-clés, badge magnétique",Objet trouvé

In [4]:
len(obj_trouves)

388268

In [6]:
df_sample1=obj_trouves.sample(frac=0.1, replace=True, random_state=1)
len(df_sample1)

38827

In [10]:
df_sample2=obj_trouves.sample(frac=0.05, replace=True, random_state=1)
len(df_sample2)

19413

In [9]:
df_sample1.to_csv('data/objets-trouves-restitution_Sample1.csv', index = True)

In [11]:
df_sample2.to_csv('data/objets-trouves-restitution_Sample2.csv', index = True)

In [8]:
obj_trouves['Type d\'enregistrement'].value_counts()

Objet trouvé    388268
Name: Type d'enregistrement, dtype: int64

## we can delete the column Type d'enregistrement

In [11]:
obj_trouves.drop('Type d\'enregistrement',axis=1, inplace=True)

## Q1: Modify dates in index from 'YYYY-MM-DD HH:MM:SS' format to 'YYYY-MM-DD' format 
- Ex: 2017-07-03 08:57:43 --> 2017-07-03
- Save the result in place(I mean indexes of obj_trouves must be changed)

Be careful to keep DateTimeIndex, you can do obj_trouves.index = pd.to_datetime(obj_trouves.index)

In [12]:

obj_trouves.index = pd.to_datetime(obj_trouves.index,utc=True)
obj_trouves.index =  pd.to_datetime(obj_trouves.index.date)
obj_trouves.index.name='Date'


obj_trouves.head()
#bj_trouves.index.date

,Date et heure de restitution,Gare,Code UIC,Nature d'objets,Type d'objets
Date,,,,,
2017-06-20,NaN,Nîmes,87775007.0,"Sac de voyage, sac de sport, sac à bandoulière","Bagagerie: sacs, valises, cartables"
2017-08-10,2017-08-11T16:13:06+02:00,Boulogne Ville,87317586.0,Téléphone portable,"Appareils électroniques, informatiques, appare..."
2017-07-03,NaN,Nîmes,87775007.0,Sac à dos,"Bagagerie: sacs, valises, cartables"
2017-08-11,2017-08-11T16:16:52+02:00,Dijon,87713040.0,Sac à dos,"Bagagerie: sacs, valises, cartables"
2017-07-11,NaN,Nîmes,87775007.0,"Clés, porte-clés","Clés, porte-clés, badge magnétique"

In [13]:
obj_trouves.index.day

Int64Index([20, 10,  3, 11, 11, 18, 11, 11, 11, 28,
            ...
            29,  4,  5,  2, 25,  5,  4,  3,  5, 17],
           dtype='int64', name='Date', length=388268)

In [14]:
obj_trouves['2013-05-24']
#obj_trouves.tail()

,Date et heure de restitution,Gare,Code UIC,Nature d'objets,Type d'objets
Date,,,,,
2013-05-24,NaN,Strasbourg,87212027.0,Carte d'abonnement,Pièces d'identités et papiers personnels
2013-05-24,NaN,Strasbourg,87212027.0,Autres divers (préciser),Divers
2013-05-24,NaN,Strasbourg,87212027.0,Téléphone portable,"Appareils électroniques, informatiques, appare..."
2013-05-24,NaN,Paris Saint-Lazare,87384008.0,"Article de papéterie, stylo, classeur","Livres, articles de papéterie"
2013-05-24,NaN,Paris Saint-Lazare,87384008.0,"Manteau, veste, blazer, parka, blouson, cape","Vêtements, chaussures"
2013-05-24,NaN,Paris Saint-Lazare,87384008.0,"Foulard, écharpe","Vêtements, chaussures"
2013-05-24,2013-05-27T09:38:56+02:00,Strasbourg,87212027.0,"Appareil photo, caméscope/caméras et accessoires","Appareils électroniques, informatiques, appare..."
2013-05-24,NaN,Paris Saint-Lazare,87384008.0,"Sac de voyage, sac de sport, sac à bandoulière","Bagagerie: sacs, valises, cartables"
2013-05-24,NaN,Paris Saint-Lazare,87384008.0,"Porte-monnaie, portefeuille","Porte-monnaie / portefeuille, argent, titres"
2013-05-24,2013-05-24T13:03:53+02:00,Strasbourg,87212027.0,Autres divers (préciser),Divers
2013-05-24,NaN,Strasbourg,87212027.0,Autres vêtements (préciser),"Vêtements, chaussures"
2013-05-24,NaN,Paris Saint-Lazare,87384008.0,Autres articles médicaux (préciser),Articles médicaux
2013-05-24,2013-05-27T06:24:17+02:00,Strasbourg,87212027.0,Téléphone portable,"Appareils électroniques, informatiques, appare..."
2013-05-24,NaN,Aéroport Charles de Gaulle 2 TGV,87271494.0,"Clés, porte-clés","Clés, porte-clés, badge magnétique"
2013-05-24,NaN,Strasbourg,87212027.0,Autres articles de papeterie (préciser),"Livres, articles de papéterie"
2013-05-24,NaN,Paris Saint-Lazare,87384008.0,"Sac de voyage, sac de sport, sac à bandoulière","Bagagerie: sacs, valises, cartables"
2013-05-24,2013-06-04T08:56:32+02:00,Paris Saint-Lazare,87384008.0,Carte de crédit,"Porte-monnaie / portefeuille, argent, titres"

## Q2: Pivot obj_trouves to get a new dataframe with hierarchical indexing : Date and station (Gare) (BE CAREFUL OF THE ORDER)
The values are the number of found objects per station for each Date (if at least one object is lost)

Hints:
- Use only one column, 'Type d'objets' or 'Nature d'objet' 
- Use the aggregate function len to count the number of found objects

Number_found_objects  = string.count(substring)

In [13]:
pivoted_obj_trouves = pd.pivot_table(obj_trouves, index=['Date','Gare'],values=['Nature d\'objets'],aggfunc=len)


pivoted_obj_trouves

                                             Nature d'objets
Date       Gare
2013-05-24 Aéroport Charles de Gaulle 2 TGV                1
           Paris Saint-Lazare                              8
           Strasbourg                                      8
2013-05-25 Strasbourg                                      9
2013-05-26 Strasbourg                                      2
2013-05-27 Paris Saint-Lazare                             16
           Saint-Étienne Châteaucreux                      7
           Strasbourg                                     14
2013-05-28 Paris Est                                       5
           Paris Saint-Lazare                             17
           Saint-Étienne Châteaucreux                      6
           Strasbourg                                     18
2013-05-29 Colmar                                          4
           Paris Est                                      11
           Paris Saint-Lazare                             20
           Saint-Étienne Châteaucreux                      7
           Strasbourg                                     23
2013-05-30 Colmar                                          3
           Nancy                                           4
           Paris Est                                      19
           Paris Saint-Lazare                             14
           Saint-Étienne Châteaucreux                      8
           Strasbourg                                      6
2013-05-31 Colmar                                          1
           Paris Est                                      21
           Paris Saint-Lazare                              8
           Saint-Étienne Châteaucreux                     11
           Strasbourg                                     10
2013-06-01 Colmar                                          1
           Saint-Étienne Châteaucreux                      5
...                                                      ...
2017-11-04 Poitiers                                        1
           Quimper                                         2
           Rouen Rive Droite                               1
           Saint-Pierre-des-Corps                          2
           Saint-Étienne Châteaucreux                      2
           Strasbourg                                     15
           Tarbes                                          2
           Toulon                                          4
           Tourcoing                                       4
           Tours                                           3
           Valence                                         6
2017-11-05 Aix-en-Provence TGV                             1
           Annecy                                          1
           Boulogne Ville                                  1
           Caen                                            1
           Dax                                             1
           La Rochelle                                     1
           Lille Europe                                   10
           Lyon Part Dieu                                  6
           Marseille Saint-Charles                         4
           Montpellier Saint-Roch                          1
           Morlaix                                         1
           Nevers                                          1
           Nice                                           14
           Paris Bercy                                     1
           Paris Gare de Lyon                              3
           Quimper                                         1
           Rennes                                         14
           Strasbourg                                      3
           Toulon                                          1

[76241 rows x 1 columns]

## Q3: Change the name of the column to 'Nb of found objects'

## Q4: Get the date and the station with the greatest number of found objects (Find this greatest number as well)

## Q5: Print a barplot showing number of found objects per station for the date found in Q4

## Q6: Create a new dataframe indexed by the type of objects with one column for the numbers of found objects for each type in 2016

## Q7 Plot a decreasing bar chart of the number of founds objects regarding types from the dataframe made in Q6

In [ ]:
stores = pd.read_csv("data_week4/SuperstoreSales.csv", encoding="latin1", parse_dates=["Order Date"])
stores.head()

## Q8: Create a pivot table to analyse sales regarding Customer Segments and product categories  

We are intersted by different indicators : number of sales, median and sum of sales 

Hint : use one index, one column, one value and three aggfunc

## Q9: Plot 3 bar plots, one for each indicator (number of sales, median, sum)

Each graph will have three bars representing product categories for each customer segment