# Using Local SQL (SQLite) with Pandas
In this lecture you will learn how to read data from an SQL database. 

As a matter of fact, your data might be stored in an SQL database and not in an CSV file. In this case, it is very important to learn how to access data from this kind of database.

There are many ways to connect to databases in Python. You will learn 2 ways to connect to a simple local SQLite database: one using SQLAlchemy and one using sqlite3. 


If you aren't familiar at all with SQL, you should do the short tutorials for the first 4 lessons here: https://sqlbolt.com/lesson/select_queries_introduction. I will explain a bit about SQL and SQLite as well in the following.

## SQL 
SQL (Structured Query Language) is a language designed to allow both technical and non-technical users to query, manipulate, and transform data from a **relational database**. SQL databases provide safe and scalable storage for millions of websites and mobile applications.

### Relational Database
A relational database represents a collection of related (two-dimensional) tables.
It differs from a conventional database by having connections between tables that define relationships. Before relational database ideas are applied, absent any defined relationships, a database table might look like this:
![NonRelational](img/NotRelational.png)

In a relational database, redundancies are eliminated: 
- a particular item of information is located at precisely one location, and is linked (joined) to all uses of that item
- links are references, not copies, which means if the original item needs updating or is found to be in error, only one change needs to be made, and all the uses for that datum change automatically

Example of a relational Database:
![Relational](img/RelationalDB.png)

### Queries
To retrieve data from a SQL database, we need to write SELECT statements, which are often refered to as queries.
- Retrieve certain columns:
`SELECT column1, column2, ... FROM MyTable;` 
- Retrieve all columns
`SELECT * FROM MyTable;`

### Queries with constraints
In order to filter certain results from being returned, we need to use a WHERE clause in the query.

`SELECT column, another_column, …
FROM mytable
WHERE condition
    AND/OR another_condition
    AND/OR …;`

Here are some useful operators that you can use for numerical data (ie. integer or floating point):
![SQL_Commands](img/SQL_Commands.png)

For text data:
![SQL_Commands2](img/SQL_Commands2.png)

### Filtering and sorting Query results

- **Select query with unique results**

To discard rows in a column that have a duplicate column value : `DISTINCT`

`SELECT DISTINCT column, another_column, …
FROM mytable
WHERE condition(s);`


- **Select query with ordered results**

To sort SQL results by a given column in ascending or descending order: `ORDER BY column`

`SELECT column, another_column, …
FROM mytable
WHERE condition(s)
ORDER BY column ASC/DESC;`

- **Select query with limited rows**

To choose a subset of the database : `LIMIT` to reduce the number of rows to return, and the optional `OFFSET` to  specify where to begin counting the number rows from.

`SELECT column, another_column, …
FROM mytable
WHERE condition(s)
ORDER BY column ASC/DESC
LIMIT num_limit OFFSET num_offset;`

### Popular SQL databases 
Popular SQL databases include : SQLite, MySQL, Postgres, Oracle and Microsoft SQL Server. You can use SQL language to access these databases. Each of the tables are similar to a Pandas DataFrame.

### What is SQLite
Since we'll use SQLite, let me explain a bit what it is.

SQLite is a software library that provides a relational database management system. The lite in SQLite means light weight in terms of setup, database administration, and required resource.

SQLite has the several noticeable features. The most important is that it is self-contained, serverless and zero-configuration.

<img src="img/sqliteexpert-demo.png" hight="70" width="70%">.

**Serverless:**

Normally, a Relational DataBase Management System (RDBMS) such as MySQL, PostgreSQL, etc., requires a separate server process to operate. The applications that want to access the database server use TCP/IP protocol to send and receive requests. This is called client/server architecture.

The following diagram illustrates the RDBMS client/server architecture:
![SQL_architecture](img/SQL_architecture.png)  <!-- .element height="50%" width="50%" -->

SQLite does NOT work this way. SQLite does NOT require a server to run.

SQLite database is integrated with the application that accesses the database. The applications interact with the SQLite database read and write directly from the database files stored on disk.

The following diagram illustrates the SQLite server-less architecture:

![SQLite_architecture](img/SQLite_architecture.png)

## Creating Your SQLite DB and Using SQLAlchemy 

- **Installation**

To install SQLAlchemy:  Open a console window, not the one running your Jupyter Notebook server, and type: `conda install sqlalchemy`. If it fails, try `pip install sqlalchemy`.


We could do this same thing with `sqlite3` (see below) but SQLAlchemy is often the "standard" for Python database connections. 
It can be used for a lot of databases and protocols. You'll run into it a lot.  The full docs are here: http://www.sqlalchemy.org/


Handling cursors in database connections is a pain, pandas makes it all a lot simpler. You'll see for yourself ;-).

- **Create an empty SQL database**

`from sqlalchemy import create_engine`


`mydb = create_engine('sqlite:///database_name.db') `

- **Save dataframe into an SQL database**

`data.to_sql('table_name', database_name)`

Executing the above commands create a local SQLite Database.

- **Read SQL Query**

`pd.read_sql_query("SQL query", database_name)`

- **Read SQL table**

`pd.read_sql_table('table_name', database_name, index_col= index_column_name)`

## Using a Local SQLite DB File and SQLite3 instead of SQL Alchemy

`import sqlite`

If this import fails, you need to install sqlite in a terminal window.  It should already be installed.

Here are the documents on sqlite3: https://docs.python.org/3/library/sqlite3.html 

Here is a good tutorial doc: http://sebastianraschka.com/Articles/2014_sqlite_in_python_tutorial.html

- **Connect to the database**

`conn = sqlite3.connect('database_name')`

Tip: If you connect to a db that is not there, it will make it for you-- it won't give you an error. So be very 
careful!

- **Connect to the cursor**: A cursor is a pointer to a row or rows in the database.
 
`cur = conn.cursor()`

You need to use `.fetchone()`, or `.fetchall()`, or iterate over the cursor to get the results:
 
<u>**Iterate over the cursor:**</u>

`for row in cur:
    print(row)
    print('\n\n')`
    
<u>**Fetch all the results at the same time instead of iterating one by one:**</u>

table = `cur.fetchall()`

The obtained results are tuples. To check the results:

`for row in table:
    print(row[1])`

- **Execute a query**

`cur.execute(QUERY)`    

- Pandas makes the whole experience of using the db much simpler. Instead of the above: `read_sql_query(QUERY, conn)`

# Joining and Appending Tables in Pandas


The way we combine tables is heavily influenced by SQL joins.  You need to understand this to understand the options in the commands. 

You should especially study the pictures of the rows and columns and their merge results.


<img src="img/sql_joins.jpg" hight="70" width="70%">.

## Merging two dataframes

`A.merge(B, how=' ', on=None, left_on='column_name', right_on='column_name', left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)`

- `how can be "left" or "right" or "inner" (Default). 

For more details: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

Another alternative is join.  If two dataframe have the same index, it will merge along the index and just add the columns.

In [2]:
import pandas as pd
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],'value': [1, 2, 3, 5]})
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [3]:
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],'value': [5, 6, 7, 8]})
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have the default suffixes, _x and _y, appended.

In [94]:
df1.merge(df2, how='left')

  lkey  value rkey
0  foo      1  NaN
1  bar      2  NaN
2  baz      3  NaN
3  foo      5  foo

In [100]:
df1.merge(df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

In [4]:
df1.merge(df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

Merge DataFrames df1 and df2 with specified left and right suffixes appended to any overlapping columns.

In [5]:
df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))

  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have any overlapping columns.

In [6]:
df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))

ValueError: columns overlap but no suffix specified: Index(['value'], dtype='object')

## Copy a column from one DF onto another DF
You can set one equal to the other, creating the column in the new dataframe, if they have the same index. 
df1['Column_name'] = df2['Column_name']

Be careful about setting columns equal in cases where the indices aren't the same.  You have to check it worked -- your new columns might all be NaNs 
`df1['column_name'] = df2['column_name'].values`
## Adding a Row or Rows With Append
You can use append to add some rows onto another df.  It's best if your index matches.
` df.append(row) `

## Documentation
The documentation for this section is in Merge-Join-Concatenate:
- http://pandas.pydata.org/pandas-docs/stable/merging.html#merge-join-and-concatenate


- http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html

# In-Class Exercises

In [7]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [8]:
from sqlalchemy import create_engine

## Create an sqlite database calles `stores.db`. Put it in the variable `mydb`.

In [9]:
mydb = create_engine('sqlite:///stores.db')

## Load the `SuperstoreSales.csv` data file into a dataframe called `data`.
Set `parse_dates=['Order Date', 'Ship Date']` and `encoding="latin1"`

In [10]:
data = pd.read_csv("data/SuperstoreSales.csv", parse_dates=['Order Date', 'Ship Date'], encoding="latin1")

In [11]:
data.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,2012-10-01,High,49,10123.0200,0.07,Delivery Truck,208.16,68.02,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
2,50,293,2012-10-01,High,27,244.5700,0.01,Regular Air,8.69,2.99,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D¨ Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03
3,80,483,2011-07-10,High,30,4965.7595,0.08,Regular Air,195.99,3.99,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12
4,85,515,2010-08-28,Not Specified,19,394.2700,0.08,Regular Air,21.78,5.94,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,2010-08-30

### Save the datafarame `data` in a table called `sales` in the Local SQLite database that you have created `mydb`.

In [12]:
# save the table to the connection using the table name 'sales'
data.to_sql('sales', mydb)

ValueError: Table 'sales' already exists.

### Load the file `SuperstoreSales_Returns.csv` into a datafrale called `returns `

In [13]:
returns = pd.read_csv("data/SuperstoreSales_Returns.csv")

In [14]:
returns.head(1)

   Order ID    Status
0        65  Returned

In [15]:
len(returns)

572

### Save the `returns` as the 'returns' table in `mydb`

In [16]:
# 
returns.to_sql('returns', mydb)

ValueError: Table 'returns' already exists.

In [ ]:
SELECT * FROM sqlite_master where type = 'table'

### Check it's there with the following query:
`Select * from sales limit 10`

In [17]:
pd.read_sql_query("Select * from sales limit 10", mydb)

,index,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,0,1,3,2010-10-13 00:00:00.000000,Low,6,261.5400,0.04,Regular Air,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20 00:00:00.000000
1,1,49,293,2012-10-01 00:00:00.000000,High,49,10123.0200,0.07,Delivery Truck,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02 00:00:00.000000
2,2,50,293,2012-10-01 00:00:00.000000,High,27,244.5700,0.01,Regular Air,8.69,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D¨ Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03 00:00:00.000000
3,3,80,483,2011-07-10 00:00:00.000000,High,30,4965.7595,0.08,Regular Air,195.99,...,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12 00:00:00.000000
4,4,85,515,2010-08-28 00:00:00.000000,Not Specified,19,394.2700,0.08,Regular Air,21.78,...,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,2010-08-30 00:00:00.000000
5,5,86,515,2010-08-28 00:00:00.000000,Not Specified,21,146.6900,0.05,Regular Air,6.64,...,Carlos Soltero,Nunavut,Nunavut,Consumer,Furniture,Office Furnishings,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Small Pack,0.37,2010-08-30 00:00:00.000000
6,6,97,613,2011-06-17 00:00:00.000000,High,12,93.5400,0.03,Regular Air,7.30,...,Carl Jackson,Nunavut,Nunavut,Corporate,Office Supplies,Binders and Binder Accessories,"Angle-D Binders with Locking Rings, Label Holders",Small Box,0.38,2011-06-17 00:00:00.000000
7,7,98,613,2011-06-17 00:00:00.000000,High,22,905.0800,0.09,Regular Air,42.76,...,Carl Jackson,Nunavut,Nunavut,Corporate,Office Supplies,Storage & Organization,"SAFCO Mobile Desk Side File, Wire Frame",Small Box,NaN,2011-06-18 00:00:00.000000
8,8,103,643,2011-03-24 00:00:00.000000,High,21,2781.8200,0.07,Express Air,138.14,...,Monica Federle,Nunavut,Nunavut,Corporate,Office Supplies,Storage & Organization,"SAFCO Commercial Wire Shelving, Black",Large Box,NaN,2011-03-25 00:00:00.000000
9,9,107,678,2010-02-26 00:00:00.000000,Low,44,228.4100,0.07,Regular Air,4.98,...,Dorothy Badders,Nunavut,Nunavut,Home Office,Office Supplies,Paper,Xerox 198,Small Box,0.38,2010-02-26 00:00:00.000000

### Check your file is on disk in this directory: use `ls database_name` (this won't work on Windows, you will have to go check your file browser.)

In [18]:
ls stores.db

stores.db

### The `ls -al` prints all the info including the size of the file. Check it's not 0.

In [19]:
ls -al stores.db

-rw-r--r--  1 salam  staff  2383872 Sep 27  2019 stores.db

### `returns` is now stored in your database `mydb`. Read the table `returns` into the variable `read_returns`.

In [20]:
# Getting the whole table 'returns' from the newdb connection.
read_returns = pd.read_sql_table('returns', mydb)

Notice the extra index column.  We can handle that down below in the next line:

In [21]:

read_returns.head()

   index  Order ID    Status
0      0        65  Returned
1      1        69  Returned
2      2       134  Returned
3      3       135  Returned
4      4       230  Returned

In [22]:
len(read_returns)

572

### Set the `index` as the index column using `index_col` in `read_sql_table`

In [23]:
read_returns = pd.read_sql_table('returns', mydb, index_col="index")  # it would be fine to put the Order ID into the index instead.

In [24]:
read_returns.head()

       Order ID    Status
index
0            65  Returned
1            69  Returned
2           134  Returned
3           135  Returned
4           230  Returned

In [25]:
read_returns

       Order ID    Status
index
0            65  Returned
1            69  Returned
2           134  Returned
3           135  Returned
4           230  Returned
5           324  Returned
6           359  Returned
7           612  Returned
8           614  Returned
9           678  Returned
10          710  Returned
11          740  Returned
12          775  Returned
13          833  Returned
14          902  Returned
15          928  Returned
16          930  Returned
17         1060  Returned
18         1127  Returned
19         1285  Returned
20         1317  Returned
21         1382  Returned
22         1538  Returned
23         1665  Returned
24         1921  Returned
25         2050  Returned
26         2052  Returned
27         2055  Returned
28         2146  Returned
29         2213  Returned
...         ...       ...
542       57190  Returned
543       57248  Returned
544       57253  Returned
545       57440  Returned
546       57510  Returned
547       57600  Returned
548       57638  Returned
549       57986  Returned
550       58368  Returned
551       58372  Returned
552       58470  Returned
553       58500  Returned
554       58566  Returned
555       58688  Returned
556       58720  Returned
557       58725  Returned
558       58818  Returned
559       58949  Returned
560       59009  Returned
561       59047  Returned
562       59072  Returned
563       59139  Returned
564       59171  Returned
565       59585  Returned
566       59652  Returned
567       59680  Returned
568       59683  Returned
569       59776  Returned
570       59879  Returned
571       59937  Returned

[572 rows x 2 columns]

### Write a query to select all rows from the `sales` table. Merge with the table `returns` by `INNER JOIN`  on the `Order ID`. Put the result in a variable QUERY.
Notice this is how we handle columns with spaces in them.  You need to quote them, and use back quotes:

In [26]:
QUERY = "SELECT * FROM sales INNER JOIN returns ON returns.`Order ID` = sales.`Order ID`"

### Perform the query on the database

In [27]:
return_query = pd.read_sql_query(QUERY, mydb)
return_query

,index,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Unit Price,...,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date,index,Order ID,Status
0,9,107,678,2010-02-26 00:00:00.000000,Low,44,228.4100,0.07,Regular Air,4.98,...,Home Office,Office Supplies,Paper,Xerox 198,Small Box,0.38,2010-02-26 00:00:00.000000,9,678,Returned
1,89,1370,9927,2011-08-16 00:00:00.000000,High,32,4655.0700,0.00,Delivery Truck,140.98,...,Corporate,Furniture,Bookcases,Bush Heritage Pine Collection 5-Shelf Bookcase...,Jumbo Box,0.65,2011-08-17 00:00:00.000000,100,9927,Returned
2,90,1371,9927,2011-08-16 00:00:00.000000,High,44,10087.6000,0.01,Regular Air,218.08,...,Corporate,Furniture,Chairs & Chairmats,"Lifetime Advantageª Folding Chairs, 4/Carton",Large Box,0.57,2011-08-17 00:00:00.000000,100,9927,Returned
3,91,1372,9927,2011-08-16 00:00:00.000000,High,34,1608.0800,0.09,Express Air,50.98,...,Corporate,Technology,Computer Peripherals,Microsoft Natural Multimedia Keyboard,Small Box,0.73,2011-08-17 00:00:00.000000,100,9927,Returned
4,105,1654,11911,2010-11-10 00:00:00.000000,Critical,25,397.8400,0.00,Regular Air,15.22,...,Consumer,Office Supplies,Binders and Binder Accessories,"GBC Twin Loopª Wire Binding Elements, 9/16"" Sp...",Small Box,0.36,2010-11-12 00:00:00.000000,115,11911,Returned
5,108,1675,12096,2012-09-19 00:00:00.000000,Medium,46,8009.5925,0.02,Regular Air,200.99,...,Home Office,Technology,Telephones and Communication,5125,Small Box,0.59,2012-09-19 00:00:00.000000,118,12096,Returned
6,109,1676,12096,2012-09-19 00:00:00.000000,Medium,23,4689.6600,0.01,Regular Air,194.30,...,Home Office,Furniture,Office Furnishings,Electrix Halogen Magnifier Lamp,Large Box,0.59,2012-09-21 00:00:00.000000,118,12096,Returned
7,115,1770,12704,2010-02-09 00:00:00.000000,Low,44,21506.7700,0.06,Regular Air,499.99,...,Small Business,Technology,Copiers and Fax,Sharp AL-1530CS Digital Copier,Large Box,0.36,2010-02-09 00:00:00.000000,126,12704,Returned
8,116,1771,12704,2010-02-09 00:00:00.000000,Low,28,669.0200,0.02,Delivery Truck,20.98,...,Small Business,Office Supplies,Storage & Organization,"Tennsco Lockers, Gray",Jumbo Drum,0.78,2010-02-11 00:00:00.000000,126,12704,Returned
9,135,2114,15106,2011-01-27 00:00:00.000000,Not Specified,42,283.5800,0.03,Regular Air,6.64,...,Home Office,Furniture,Office Furnishings,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Small Pack,0.37,2011-01-29 00:00:00.000000,153,15106,Returned
10,136,2115,15106,2011-01-27 00:00:00.000000,Not Specified,39,5403.3700,0.06,Delivery Truck,145.45,...,Home Office,Technology,Office Machines,Panasonic KX-P1150 Dot Matrix Printer,Jumbo Drum,0.56,2011-01-27 00:00:00.000000,153,15106,Returned
11,137,2116,15106,2011-01-27 00:00:00.000000,Not Specified,35,82.1500,0.03,Regular Air,2.21,...,Home Office,Office Supplies,Pens & Art Supplies,Newell 327,Wrap Bag,0.58,2011-01-29 00:00:00.000000,153,15106,Returned
12,175,2624,19010,2009-06-07 00:00:00.000000,Low,18,23792.9300,0.00,Regular Air,1270.99,...,Small Business,Office Supplies,Binders and Binder Accessories,Fellowes PB500 Electric Punch Plastic Comb Bin...,Small Box,0.35,2009-06-09 00:00:00.000000,189,19010,Returned
13,176,2637,19078,2009-07-27 00:00:00.000000,Critical,21,256.1200,0.03,Regular Air,11.97,...,Corporate,Office Supplies,Appliances,Staples 6 Outlet Surge,Small Box,0.58,2009-07-28 00:00:00.000000,190,19078,Returned
14,177,2643,19138,2011-09-05 00:00:00.000000,Low,30,387.0000,0.01,Express Air,12.28,...,Home Office,Office Supplies,Storage & Organization,Recycled Eldon Regeneration Jumbo File,Small Box,0.57,2011-09-10 00:00:00.000000,191,19138,Returned
15,188,2956,21383,2009-01-30 00:00:00.000000,Low,31,16066.8500,0.07,Regular Air,574.74,...,Consumer,Technology,Office Machines,Polycom ViaVideoª Desktop Video Communications...,Large Box,0.37,2009-02-04 00:00:00.000000,209,21383,Returned
16,200,3284,23488,2009-01-06 00:00:00.000000,Critical,30,26133.3900,0.04,Delivery Truck,880.98,...,Home Office,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",Jumbo Box,0.62,2009-01-07 00:00:00.000000,224,23488,Returned
17,255,3929,28003,2011-03-19 00:00:00.000000,Critical,31,157.7900,0.09,Regular Air,4.98,...,Corporate,Office Supplies,Paper,Xerox 1897,Small Box,0.36,2011-03-21 00:00:00.000000,254,28003,Returned
18,266,4082,29095,2011-03-08 00:00:00.000000,Not Specified,40,291.6700,0.01,Regular Air,6.75,...,Small Business,Office Supplies,Binders and Binder Accessories,Wilson Jones DublLock¨ D-Ring Binders,Small Box,0.35,2011-03-09 00:00:00.000000,262,29095,Returned
19,272,4202,29861,2012-04-25 00:00:00.000000,Critical,11,35.1700,0.03,Regular Air,3.08,...,Small Business,Office Supplies,Labels,Avery 481,Small Box,0.37,2012-04-26 00:00:00.000000,269,29861,Returned
20,330,4929,35047,2010-06-09 00:00:00.000000,Medium,31,148.1700,0.00,Regular Air,4.71,...,Home Office,Office Supplies,Rubber Bands,Sterling Rubber Bands by Alliance,Wrap Bag,0.85,2010-06-11 00:00:00.000000,302,35047,Returned
21,340,5154,36707,2009-11-29 00:00:00.000000,Medium,47,181.7800,0.02,Regular Air,3.78,...,Home Office,Office Supplies,Rubber Bands,Staples Bulldog Clip,Wrap Bag,0.39,2009-11-30 00:00:00.000000,324,36707,Returned
22,347,5325,37860,2010-08-27 00:00:00.000000,Medium,1,104.8500,0.07,Regular Air,55.50,...,Corporate,Furniture,Office Furnishings,Eldon Cleatmat¨ Chair Mats for Medium Pile Car...,Medium Box,0.72,2010-08-29 00:00:00.000000,339,37860,Returned
23,360,5675,40132,2012-02-23 00:00:00.000000,Low,26,1363.0000,0.04,Delivery Truck,50.98,...,Corporate,Furniture,Chairs & Chairmats,"Global Deluxe Stacking Chair, Gray",Jumbo Drum,0.56,2012-02-29 00:00:00.000000,362,40132,Returned
24,361,5676,40132,2012-02-23 00:00:00.000000,Low,36,4698.5000,0.04,Delivery Truck,124.49,...,Corporate,Furniture,Tables,Bevis 36 x 72 Conference Tables,Jumbo Box,0.63,2012-02-29 00:00:00.000000,362,40132,Returned
25,362,5677,40132,2012-02-23 00:00:00.000000,Low,16,347.4700,0.09,Regular Air,22.38,...,Corporate,Office Supplies,Binders and Binder Accessories,"Avery Flip-Chart Easel Binder, Black",Small Box,0.38,2012-03-02 00:00:00.000000,362,40132,Returned
26,363,5681,40160,2009-10-15 00:00:00.000000,Critical,23,1404.2200,0.10,Regular Air,63.94,...,Consumer,Furniture,Office Furnishings,"Howard Miller 16"" Diameter Gallery Wall Clock",Small Box,0.46,2009-10-16 00:00:00.000000,364,40160,Returned
27,383,6097,43203,2012-02-14 00:00:00.000000,Not Specified,32,225.1600,0.02,Regular Air,6.68,...,Home Office,Office Supplies,Paper,Xerox 1977,Small Box,0.37,2012-02-16 00:00:00.000000,387,43203,Returned
28,413,6692,47620,2012-06-26 00:00:00.000000,Low,27,302.2000,0.04,Regular Air,10.98,...,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Fiskars¨ Softgrip Scissors,Small Pack,0.57,2012-07-05 00:00:00.000000,424,47620,Returned
29,419,6783,48295,2009-11-23 00:00:00.000000,Medium,48,10051.5200,0.05,Regular Air,204.10,...,Small Business,Technology,Office Machines,"Soundgear Copyboard Conference Phone, Optional...",Medium Box,0.37,2009-11-25 00:00:00.000000,430,48295,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
842,8164,903,6500,2012-10-12 00:00:00.000000,Critical,20,38.2900,0.06,Regular Air,1.95,...,Home Office,Office Supplies,Pens & Art Supplies,Avery Hi-Liter Comfort Grip Fluorescent Highli...,Wrap Bag,0.46,2012-10-13 00:00:00.000000,64,6500,Returned
843,8166,998,7203,2009-01-08 00:00:00.000000,High,25,21752.0100,0.03,Regular Air,896.99,...,Corporate,Office Supplies,Binders and Binder Accessories,GBC DocuBind TL300 Electric Binding System,Small Box,0.38,2009-01-10 00:00:00.000000,73,7203,Returned
844,8173,1146,8353,2009-05-15 00:00:00.000000,Medium,34,286.9000,0.06,Regular Air,8.32,...,Consumer,Technology,Computer Peripherals,"Imation 3.5 IBM Formatted Diskettes, 10/Box",Small Pack,0.74,2009-05-17 00:00:00.000000,86,8353,Returned
845,8174,1147,8353,2009-05-15 00:00:00.000000,Medium,16,46.4000,0.08,Regular Air,2.94,...,Consumer,Office Supplies,Pens & Art Supplies,Newell 343,Wrap Bag,0.58,2009-05-17 00:00:00.000000,86,8353,Returned
846,8202,1652,11909,2009-11-24 00:00:00.000000,Not Specified,11,194.1740,0.03,Regular Air,20.99,...,Consumer,Technology,Telephones and Communication,Accessory25,Wrap Bag,0.57,2009-11-26 00:00:00.000000,114,11909,Returned
847,8230,2589,18689,2009-12-24 00:00:00.000000,Not Specified,38,281.1700,0.01,Regular Air,7.10,...,Small Business,Office Supplies,Binders and Binder Accessories,"Wilson Jones Hanging View Binder, White, 1""",Small Box,0.39,2009-12-25 00:00:00.000000,185,18689,Returned
848,8231,2590,18689,2009-12-24 00:00:00.000000,Not Specified,10,194.6500,0.05,Regular Air,18.97,...,Small Business,Office Supplies,Paper,Computer Printout Paper with Letter-Trim Perfo...,Small Box,0.37,2009-12-25 00:00:00.000000,185,18689,Returned
849,8287,4677,33283,2010-03-20 00:00:00.000000,Medium,48,10462.5400,0.02,Delivery Truck,218.75,...,Home Office,Furniture,Tables,BoxOffice By Design Rectangular and Half-Moon ...,Jumbo Box,0.77,2010-03-20 00:00:00.000000,287,33283,Returned
850,8290,4800,34117,2012-02-07 00:00:00.000000,High,45,299.9400,0.06,Regular Air,6.75,...,Small Business,Office Supplies,Binders and Binder Accessories,Wilson Jones DublLock¨ D-Ring Binders,Small Box,0.35,2012-02-09 00:00:00.000000,294,34117,Returned
851,8291,4974,35366,2011-07-12 00:00:00.000000,Low,23,149.3100,0.06,Regular Air,6.48,...,Consumer,Office Supplies,Paper,Xerox 209,Small Box,0.37,2011-07-19 00:00:00.000000,306,35366,Returned
852,8296,5010,35744,2009-03-21 00:00:00.000000,Not Specified,44,2587.5300,0.02,Regular Air,55.94,...,Consumer,Technology,Computer Peripherals,Fellowes Smart Design 104-Key Enhanced Keyboar...,Small Box,0.68,2009-03-23 00:00:00.000000,311,35744,Returned
853,8297,5042,35936,2009-01-21 00:00:00.000000,Medium,41,312.2600,0.08,Regular Air,7.84,...,Corporate,Office Supplies,Binders and Binder Accessories,XtraLife¨ ClearVueª Slant-D¨ Ring Binders by C...,Small Box,0.35,2009-01-22 00:00:00.000000,314,35936,Returned
854,8298,5043,35936,2009-01-21 00:00:00.000000,Medium,40,4152.5500,0.03,Regular Air,105.34,...,Corporate,Furniture,Office Furnishings,Deflect-o DuraMat Antistatic Studded Beveled M...,Large Box,0.61,2009-01-22 00:00:00.000000,314,35936,Returned
855,8300,5086,36262,2010-07-27 00:00:00.000000,Not Specified,23,164.0200,0.03,Express Air,6.68,...,Corporate,Office Supplies,Paper,Xerox 1968,Small Box,0.37,2010-07-28 00:00:00.000000,318,36262,Returned
856,8301,5087,36262,2010-07-27 00:00:00.000000,Not Specified,23,136.8100,0.01,Regular Air,5.68,...,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Acme¨ Preferred Stainless Steel Scissors,Small Pack,0.56,2010-07-28 00:00:00.000000,318,36262,Returned
857,8302,5088,36262,2010-07-27 00:00:00.000000,Not Specified,26,4701.6900,0.00,Express Air,205.99,...,Corporate,Technology,Telephones and Communication,V70,Small Box,0.59,2010-07-27 00:00:00.000000,318,36262,Returned
858,8309,5168,36772,2010-05-15 00:00:00.000000,Medium,47,280.4500,0.10,Regular Air,6.48,...,Home Office,Office Supplies,Paper,Xerox 200,Small Box,0.37,2010-05-15 00:00:00.000000,326,36772,Returned
859,8310,5206,36998,2012-09-29 00:00:00.000000,Low,50,481.2300,0.07,Regular Air,9.98,...,Corporate,Furniture,Office Furnishings,Eldon¨ Expressionsª Wood and Plastic Desk Acce...,Small Box,0.57,2012-10-04 00:00:00.000000,332,36998,Returned
860,8311,5207,36998,2012-09-29 00:00:00.000000,Low,41,265.3900,0.10,Regular Air,6.48,...,Corporate,Office Supplies,Paper,Xerox 1905,Small Box,0.37,2012-10-06 00:00:00.000000,332,36998,Returned
861,8312,5208,36998,2012-09-29 00:00:00.000000,Low,8,56.5000,0.02,Regular Air,6.48,...,Corporate,Office Supplies,Paper,Xerox 1995,Small Box,0.37,2012-10-01 00:00:00.000000,332,36998,Returned
862,8327,5882,41760,2012-01-27 00:00:00.000000,Low,21,6688.6600,0.04,Regular Air,315.98,...,Small Business,Office Supplies,Binders and Binder Accessories,GBC ProClickª 150 Presentation Binding System,Small Box,0.38,2012-02-01 00:00:00.000000,373,41760,Returned
863,8328,5883,41760,2012-01-27 00:00:00.000000,Low,22,247.4500,0.00,Regular Air,9.98,...,Small Business,Furniture,Office Furnishings,Eldon¨ Expressionsª Wood and Plastic Desk Acce...,Small Box,0.57,2012-02-03 00:00:00.000000,373,41760,Returned
864,8329,5884,41760,2012-01-27 00:00:00.000000,Low,7,685.7205,0.08,Regular Air,115.99,...,Small Business,Technology,Telephones and Communication,6160,Small Box,0.57,2012-02-01 00:00:00.000000,373,41760,Returned
865,8330,5885,41760,2012-01-27 00:00:00.000000,Low,40,3232.1335,0.05,Regular Air,95.99,...,Small Business,Technology,Telephones and Communication,600 Series Flip,Small Box,0.57,2012-02-01 00:00:00.000000,373,41760,Returned
866,8355,7371,52518,2012-04-03 00:00:00.000000,Critical,8,168.9900,0.08,Regular Air,20.95,...,Consumer,Technology,Computer Peripherals,"Fellowes Basic 104-Key Keyboard, Platinum",Small Box,0.60,2012-04-04 00:00:00.000000,489,52518,Returned
867,8362,7812,55874,2009-02-16 00:00:00.000000,Medium,24,129.5300,0.06,Regular Air,5.68,...,Small Business,Office Supplies,Envelopes,Staples Standard Envelopes,Small Box,0.38,2009-02-16 00:00:00.000000,524,55874,Returned
868,8377,8247,58949,2012-12-16 00:00:00.000000,Critical,50,1558.9425,0.02,Regular Air,35.99,...,Small Business,Technology,Telephones and Communication,Accessory35,Small Box,0.55,2012-12-17 00:00:00.000000,559,58949,Returned
869,8381,1219,8961,2011-06-28 00:00:00.000000,Low,48,4644.8700,0.08,Delivery Truck,100.80,...,Small Business,Furniture,Tables,"Barricks 18"" x 48"" Non-Folding Utility Table w...",Jumbo Drum,0.59,2011-07-03 00:00:00.000000,87,8961,Returned
870,8386,5166,36772,2010-05-15 00:00:00.000000,Medium,8,22.8500,0.07,Regular Air,2.88,...,Home Office,Office Supplies,Labels,Avery 474,Small Box,0.36,2010-05-15 00:00:00.000000,326,36772,Returned
871,8387,5167,36772,2010-05-15 00:00:00.000000,Medium,16,12007.0500,0.09,Delivery Truck,808.49,...,Home Office,Technology,Office Machines,"Hewlett-Packard Business Color Inkjet 3000 [N,...",Jumbo Drum,0.40,2010-05-17 00:00:00.000000,326,36772,Returned

In [105]:
QUERY = "SELECT * FROM sqlite_master where type = 'table'"

In [107]:
pd.read_sql_query(QUERY, mydb)

,type,name,tbl_name,rootpage,sql
0,table,sales,sales,2,"CREATE TABLE sales (\n\t""index"" BIGINT, \n\t""R..."
1,table,returns,returns,576,"CREATE TABLE returns (\n\t""index"" BIGINT, \n\t..."

In [28]:
# we know from the Analyst Toolbelt class we should have 872 returns.
len(return_query)

872

## Using a Local SQLite DB File and SQLite3 instead of SQL Alchemy

In [101]:
import sqlite3

### Make a connection to the `mydb` database

In [104]:
conn = sqlite3.connect('stores.db')

### Set up the cursor

In [31]:
cur = conn.cursor()

### Check if the tables are there by executing the following query

In [32]:
QUERY = "SELECT * FROM sqlite_master where type = 'table'"

In [33]:
cur.execute(QUERY)

### Iterate over the curser to show the content of the database

In [34]:
# this is the iteration method:
for row in cur:
    print(row)
    print('\n\n')

('table', 'sales', 'sales', 2, 'CREATE TABLE sales (\n\t"index" BIGINT, \n\t"Row ID" BIGINT, \n\t"Order ID" BIGINT, \n\t"Order Date" DATETIME, \n\t"Order Priority" TEXT, \n\t"Order Quantity" BIGINT, \n\t"Sales" FLOAT, \n\t"Discount" FLOAT, \n\t"Ship Mode" TEXT, \n\t"Unit Price" FLOAT, \n\t"Shipping Cost" FLOAT, \n\t"Customer Name" TEXT, \n\t"Province" TEXT, \n\t"Region" TEXT, \n\t"Customer Segment" TEXT, \n\t"Product Category" TEXT, \n\t"Product Sub-Category" TEXT, \n\t"Product Name" TEXT, \n\t"Product Container" TEXT, \n\t"Product Base Margin" FLOAT, \n\t"Ship Date" DATETIME\n)')



('table', 'returns', 'returns', 576, 'CREATE TABLE returns (\n\t"index" BIGINT, \n\t"Order ID" BIGINT, \n\t"Status" TEXT\n)')

### Apply `read_sql` to get the result of the query

In [35]:
pd.read_sql(QUERY, conn)

,type,name,tbl_name,rootpage,sql
0,table,sales,sales,2,"CREATE TABLE sales (\n\t""index"" BIGINT, \n\t""R..."
1,table,returns,returns,576,"CREATE TABLE returns (\n\t""index"" BIGINT, \n\t..."

### Execute the following query

In [36]:
QUERY = "Select * from sales order by `Order ID` Limit 20"
cur.execute(QUERY)

### fetch all the results using `fetchall()` and put them in the variable sales_table

In [37]:
# 
sales_table = cur.fetchall()

In [38]:
# These are tuples:
sales_table

[(0,
  1,
  3,
  '2010-10-13 00:00:00.000000',
  'Low',
  6,
  261.54,
  0.04,
  'Regular Air',
  38.94,
  35.0,
  'Muhammed MacIntyre',
  'Nunavut',
  'Nunavut',
  'Small Business',
  'Office Supplies',
  'Storage & Organization',
  'Eldon Base for stackable storage shelf, platinum',
  'Large Box',
  0.8,
  '2010-10-20 00:00:00.000000'),
 (8138,
  2,
  6,
  '2012-02-20 00:00:00.000000',
  'Not Specified',
  2,
  6.93,
  0.01,
  'Regular Air',
  2.08,
  2.56,
  'Ruben Dartt',
  'Alberta',
  'West',
  'Corporate',
  'Office Supplies',
  'Scissors, Rulers and Trimmers',
  'Kleencut¨ Forged Office Shears by Acme United Corporation',
  'Small Pack',
  0.55,
  '2012-02-21 00:00:00.000000'),
 (5763,
  6,
  32,
  '2011-07-15 00:00:00.000000',
  'High',
  15,
  140.56,
  0.04,
  'Regular Air',
  8.46,
  8.99,
  'Liz Pelletier',
  'Saskachewan',
  'Prarie',
  'Corporate',
  'Technology',
  'Computer Peripherals',
  'Imation 3.5 IBM Diskettes, 10/Box',
  'Small Pack',
  0.79,
  '2011-07-16 00:00:00.000000'),
 (8139,
  3,
  32,
  '2011-07-15 00:00:00.000000',
  'High',
  26,
  2808.08,
  0.07,
  'Regular Air',
  107.53,
  5.81,
  'Liz Pelletier',
  'Alberta',
  'West',
  'Corporate',
  'Furniture',
  'Office Furnishings',
  'Tenex Contemporary Contur Chairmats for Low and Medium Pile Carpet, Computer, 39" x 49"',
  'Medium Box',
  0.65,
  '2011-07-17 00:00:00.000000'),
 (8140,
  4,
  32,
  '2011-07-15 00:00:00.000000',
  'High',
  24,
  1761.4,
  0.09,
  'Delivery Truck',
  70.89,
  89.3,
  'Liz Pelletier',
  'Alberta',
  'West',
  'Corporate',
  'Furniture',
  'Tables',
  'KI Conference Tables',
  'Jumbo Box',
  0.72,
  '2011-07-16 00:00:00.000000'),
 (8141,
  5,
  32,
  '2011-07-15 00:00:00.000000',
  'High',
  23,
  160.2335,
  0.04,
  'Regular Air',
  7.99,
  5.03,
  'Liz Pelletier',
  'Alberta',
  'West',
  'Corporate',
  'Technology',
  'Telephones and Communication',
  'Bell Sonecor JB700 Caller ID',
  'Medium Box',
  0.6,
  '2011-07-17 00:00:00.000000'),
 (741,
  7,
  35,
  '2011-10-22 00:00:00.000000',
  'Not Specified',
  30,
  288.56,
  0.03,
  'Regular Air',
  9.11,
  2.25,
  'Julie Creighton',
  'British Columbia',
  'West',
  'Corporate',
  'Office Supplies',
  'Pens & Art Supplies',
  'Dixon Ticonderoga Core-Lock Colored Pencils',
  'Wrap Bag',
  0.52,
  '2011-10-23 00:00:00.000000'),
 (742,
  8,
  35,
  '2011-10-22 00:00:00.000000',
  'Not Specified',
  14,
  1892.848,
  0.01,
  'Regular Air',
  155.99,
  8.99,
  'Julie Creighton',
  'British Columbia',
  'West',
  'Corporate',
  'Technology',
  'Telephones and Communication',
  'CF 688',
  'Small Box',
  0.58,
  '2011-10-24 00:00:00.000000'),
 (7824,
  9,
  36,
  '2011-11-02 00:00:00.000000',
  'Critical',
  46,
  2484.7455,
  0.1,
  'Regular Air',
  65.99,
  4.2,
  'Sample Company A',
  'Alberta',
  'West',
  'Home Office',
  'Technology',
  'Telephones and Communication',
  '6162i',
  'Small Box',
  0.55,
  '2011-11-02 00:00:00.000000'),
 (1964,
  10,
  65,
  '2011-03-17 00:00:00.000000',
  'Critical',
  32,
  3812.73,
  0.02,
  'Regular Air',
  115.79,
  1.99,
  'Tamara Dahlen',
  'Ontario',
  'Ontario',
  'Corporate',
  'Technology',
  'Computer Peripherals',
  'Verbatim DVD-R, 4.7GB, Spindle, WE, Blank, Ink Jet/Thermal, 20/Spindle',
  'Small Pack',
  0.49,
  '2011-03-18 00:00:00.000000'),
 (7740,
  11,
  66,
  '2009-01-19 00:00:00.000000',
  'Low',
  41,
  108.15,
  0.09,
  'Regular Air',
  2.88,
  0.7,
  'Arthur Gainer',
  'Alberta',
  'West',
  'Consumer',
  'Office Supplies',
  'Pens & Art Supplies',
  'Newell 340',
  'Wrap Bag',
  0.56,
  '2009-01-19 00:00:00.000000'),
 (5764,
  12,
  69,
  '2009-06-03 00:00:00.000000',
  'Not Specified',
  42,
  1186.06,
  0.09,
  'Regular Air',
  30.93,
  3.92,
  'Jonathan Doherty',
  'Saskachewan',
  'Prarie',
  'Corporate',
  'Furniture',
  'Office Furnishings',
  'Advantus Employee of the Month Certificate Frame, 11 x 13-1/2',
  'Small Pack',
  0.44,
  '2009-06-05 00:00:00.000000'),
 (5765,
  13,
  69,
  '2009-06-03 00:00:00.000000',
  'Not Specified',
  28,
  51.53,
  0.03,
  'Express Air',
  1.68,
  0.7,
  'Jonathan Doherty',
  'Saskachewan',
  'Prarie',
  'Corporate',
  'Office Supplies',
  'Pens & Art Supplies',
  'Newell 308',
  'Wrap Bag',
  0.6,
  '2009-06-05 00:00:00.000000'),
 (3494,
  14,
  70,
  '2010-12-17 00:00:00.000000',
  'Low',
  48,
  90.05,
  0.03,
  'Regular Air',
  1.86,
  2.58,
  'Helen Wasserman',
  'Quebec',
  'Quebec',
  'Home Office',
  'Office Supplies',
  'Rubber Bands',
  'Super Bands, 12/Pack',
  'Wrap Bag',
  0.82,
  '2010-12-22 00:00:00.000000'),
 (3495,
  15,
  70,
  '2010-12-17 00:00:00.000000',
  'Low',
  46,
  7804.53,
  0.05,
  'Regular Air',
  205.99,
  5.99,
  'Helen Wasserman',
  'Quebec',
  'Quebec',
  'Home Office',
  'Technology',
  'Telephones and Communication',
  '3285',
  'Small Box',
  0.59,
  '2010-12-22 00:00:00.000000'),
 (4730,
  16,
  96,
  '2009-04-16 00:00:00.000000',
  'High',
  37,
  4158.1235,
  0.01,
  'Regular Air',
  125.99,
  8.99,
  'Keith Dawkins',
  'Manitoba',
  'Prarie',
  'Home Office',
  'Technology',
  'Telephones and Communication',
  'SC7868i',
  'Small Box',
  0.55,
  '2009-04-18 00:00:00.000000'),
 (6443,
  17,
  97,
  '2010-01-28 00:00:00.000000',
  'Medium',
  26,
  75.57,
  0.03,
  'Regular Air',
  2.89,
  0.5,
  'Craig Yedwab',
  'Yukon',
  'Yukon',
  'Consumer',
  'Office Supplies',
  'Labels',
  'Avery 498',
  'Small Box',
  0.38,
  '2010-01-29 00:00:00.000000'),
 (1832,
  18,
  129,
  '2012-11-18 00:00:00.000000',
  'Low',
  4,
  32.72,
  0.09,
  'Regular Air',
  6.48,
  8.19,
  'Pauline Chand',
  'Ontario',
  'Ontario',
  'Corporate',
  'Office Supplies',
  'Paper',
  'Xerox 217',
  'Small Box',
  0.37,
  '2012-11-27 00:00:00.000000'),
 (6079,
  19,
  130,
  '2012-05-07 00:00:00.000000',
  'High',
  3,
  461.89,
  0.05,
  'Express Air',
  150.98,
  13.99,
  'Roy Collins',
  'Saskachewan',
  'Prarie',
  'Corporate',
  'Technology',
  'Office Machines',
  'Canon MP41DH Printing Calculator',
  'Medium Box',
  0.38,
  '2012-05-09 00:00:00.000000'),
 (6080,
  20,
  130,
  '2012-05-07 00:00:00.000000',
  'High',
  29,
  575.11,
  0.02,
  'Regular Air',
  18.97,
  9.03,
  'Roy Collins',
  'Saskachewan',
  'Prarie',
  'Corporate',
  'Office Supplies',
  'Paper',
  'Computer Printout Paper with Letter-Trim Perforations',
  'Small Box',
  0.37,
  '2012-05-08 00:00:00.000000')]

### Iterate through the rows of the sales_table and print. the first element

In [39]:
for sales_row in sales_table:
    print(sales_row[1])

1
2
6
3
4
5
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### Set the limit to 2 instead of 20 in the above query and repeat the above. Notice the difference.

In [40]:
QUERY = "Select * from sales order by `Order ID` Limit 2"
cur.execute(QUERY)
sales_table = cur.fetchall()
for sales_row in sales_table:
    print(sales_row[1])

1
2

### Now use pandas `read_sql_query` to fetch the results instead. Put the result in sales

In [41]:
sales = pd.read_sql_query(QUERY, conn)

In [42]:
sales

,index,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,0,1,3,2010-10-13 00:00:00.000000,Low,6,261.54,0.04,Regular Air,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20 00:00:00.000000
1,8138,2,6,2012-02-20 00:00:00.000000,Not Specified,2,6.93,0.01,Regular Air,2.08,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Kleencut¨ Forged Office Shears by Acme United ...,Small Pack,0.55,2012-02-21 00:00:00.000000

## Joining and Merging table
Lets play again with `SuperstoreSales.csv` and `SuperstoreSales_Returns.csv` to experiment with joining and merging tables.

In [43]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [44]:
store = pd.read_csv("data/SuperstoreSales.csv", encoding='latin1', parse_dates=['Order Date', 'Ship Date'])

In [45]:
store.head(3)

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Unit Price,Shipping Cost,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,2010-10-13,Low,6,261.54,0.04,Regular Air,38.94,35.00,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20
1,49,293,2012-10-01,High,49,10123.02,0.07,Delivery Truck,208.16,68.02,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02
2,50,293,2012-10-01,High,27,244.57,0.01,Regular Air,8.69,2.99,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D¨ Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03

In [46]:
store.dtypes

Row ID                           int64
Order ID                         int64
Order Date              datetime64[ns]
Order Priority                  object
Order Quantity                   int64
Sales                          float64
Discount                       float64
Ship Mode                       object
Unit Price                     float64
Shipping Cost                  float64
Customer Name                   object
Province                        object
Region                          object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Name                    object
Product Container               object
Product Base Margin            float64
Ship Date               datetime64[ns]
dtype: object

In [47]:
returns = pd.read_csv('data/SuperstoreSales_Returns.csv')

In [48]:
returns.head()

   Order ID    Status
0        65  Returned
1        69  Returned
2       134  Returned
3       135  Returned
4       230  Returned

### Join the store dataframe with returns dataframe by the `Order ID` column from the left

In [49]:
# Left join means we keep all the columns from the store (the left) and also join the ones that match
leftjoin = store.merge(returns, left_on='Order ID', right_on='Order ID', how="left")

In [50]:
leftjoin.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Unit Price,Shipping Cost,...,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date,Status
0,1,3,2010-10-13,Low,6,261.5400,0.04,Regular Air,38.94,35.00,...,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,2010-10-20,NaN
1,49,293,2012-10-01,High,49,10123.0200,0.07,Delivery Truck,208.16,68.02,...,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,2012-10-02,NaN
2,50,293,2012-10-01,High,27,244.5700,0.01,Regular Air,8.69,2.99,...,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D¨ Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,2012-10-03,NaN
3,80,483,2011-07-10,High,30,4965.7595,0.08,Regular Air,195.99,3.99,...,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,2011-07-12,NaN
4,85,515,2010-08-28,Not Specified,19,394.2700,0.08,Regular Air,21.78,5.94,...,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,2010-08-30,NaN

In [51]:
len(leftjoin)

8399

In [52]:
len(store)

8399

### Peform Inner join instead.

In [53]:
inner = store.merge(returns, left_on='Order ID', right_on='Order ID', how="inner")

In [54]:
len(inner)

872

In [55]:
inner.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Unit Price,Shipping Cost,...,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date,Status
0,107,678,2010-02-26,Low,44,228.41,0.07,Regular Air,4.98,8.33,...,Nunavut,Nunavut,Home Office,Office Supplies,Paper,Xerox 198,Small Box,0.38,2010-02-26,Returned
1,1370,9927,2011-08-16,High,32,4655.07,0.00,Delivery Truck,140.98,53.48,...,Northwest Territories,Northwest Territories,Corporate,Furniture,Bookcases,Bush Heritage Pine Collection 5-Shelf Bookcase...,Jumbo Box,0.65,2011-08-17,Returned
2,1371,9927,2011-08-16,High,44,10087.60,0.01,Regular Air,218.08,18.06,...,Northwest Territories,Northwest Territories,Corporate,Furniture,Chairs & Chairmats,"Lifetime Advantageª Folding Chairs, 4/Carton",Large Box,0.57,2011-08-17,Returned
3,1372,9927,2011-08-16,High,34,1608.08,0.09,Express Air,50.98,6.50,...,Northwest Territories,Northwest Territories,Corporate,Technology,Computer Peripherals,Microsoft Natural Multimedia Keyboard,Small Box,0.73,2011-08-17,Returned
4,1654,11911,2010-11-10,Critical,25,397.84,0.00,Regular Air,15.22,9.73,...,Northwest Territories,Northwest Territories,Consumer,Office Supplies,Binders and Binder Accessories,"GBC Twin Loopª Wire Binding Elements, 9/16"" Sp...",Small Box,0.36,2010-11-12,Returned

### Test the Status of leftjoin for Nans

In [56]:
leftjoin['Status'].head(1)

0    NaN
Name: Status, dtype: object

In [57]:
leftjoin['Status'][0] is np.nan

True

### Drop NAs from Status column using `dropna(subset=['column_name'])`. Put the result in returns

In [58]:
returns = leftjoin.dropna(subset=['Status'])

returns

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Unit Price,Shipping Cost,...,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date,Status
9,107,678,2010-02-26,Low,44,228.4100,0.07,Regular Air,4.98,8.33,...,Nunavut,Nunavut,Home Office,Office Supplies,Paper,Xerox 198,Small Box,0.38,2010-02-26,Returned
89,1370,9927,2011-08-16,High,32,4655.0700,0.00,Delivery Truck,140.98,53.48,...,Northwest Territories,Northwest Territories,Corporate,Furniture,Bookcases,Bush Heritage Pine Collection 5-Shelf Bookcase...,Jumbo Box,0.65,2011-08-17,Returned
90,1371,9927,2011-08-16,High,44,10087.6000,0.01,Regular Air,218.08,18.06,...,Northwest Territories,Northwest Territories,Corporate,Furniture,Chairs & Chairmats,"Lifetime Advantageª Folding Chairs, 4/Carton",Large Box,0.57,2011-08-17,Returned
91,1372,9927,2011-08-16,High,34,1608.0800,0.09,Express Air,50.98,6.50,...,Northwest Territories,Northwest Territories,Corporate,Technology,Computer Peripherals,Microsoft Natural Multimedia Keyboard,Small Box,0.73,2011-08-17,Returned
105,1654,11911,2010-11-10,Critical,25,397.8400,0.00,Regular Air,15.22,9.73,...,Northwest Territories,Northwest Territories,Consumer,Office Supplies,Binders and Binder Accessories,"GBC Twin Loopª Wire Binding Elements, 9/16"" Sp...",Small Box,0.36,2010-11-12,Returned
108,1675,12096,2012-09-19,Medium,46,8009.5925,0.02,Regular Air,200.99,8.08,...,Northwest Territories,Northwest Territories,Home Office,Technology,Telephones and Communication,5125,Small Box,0.59,2012-09-19,Returned
109,1676,12096,2012-09-19,Medium,23,4689.6600,0.01,Regular Air,194.30,11.54,...,Northwest Territories,Northwest Territories,Home Office,Furniture,Office Furnishings,Electrix Halogen Magnifier Lamp,Large Box,0.59,2012-09-21,Returned
115,1770,12704,2010-02-09,Low,44,21506.7700,0.06,Regular Air,499.99,24.49,...,Northwest Territories,Northwest Territories,Small Business,Technology,Copiers and Fax,Sharp AL-1530CS Digital Copier,Large Box,0.36,2010-02-09,Returned
116,1771,12704,2010-02-09,Low,28,669.0200,0.02,Delivery Truck,20.98,53.03,...,Northwest Territories,Northwest Territories,Small Business,Office Supplies,Storage & Organization,"Tennsco Lockers, Gray",Jumbo Drum,0.78,2010-02-11,Returned
135,2114,15106,2011-01-27,Not Specified,42,283.5800,0.03,Regular Air,6.64,4.95,...,Northwest Territories,Northwest Territories,Home Office,Furniture,Office Furnishings,G.E. Longer-Life Indoor Recessed Floodlight Bulbs,Small Pack,0.37,2011-01-29,Returned
136,2115,15106,2011-01-27,Not Specified,39,5403.3700,0.06,Delivery Truck,145.45,17.85,...,Northwest Territories,Northwest Territories,Home Office,Technology,Office Machines,Panasonic KX-P1150 Dot Matrix Printer,Jumbo Drum,0.56,2011-01-27,Returned
137,2116,15106,2011-01-27,Not Specified,35,82.1500,0.03,Regular Air,2.21,1.12,...,Northwest Territories,Northwest Territories,Home Office,Office Supplies,Pens & Art Supplies,Newell 327,Wrap Bag,0.58,2011-01-29,Returned
175,2624,19010,2009-06-07,Low,18,23792.9300,0.00,Regular Air,1270.99,19.99,...,Northwest Territories,Northwest Territories,Small Business,Office Supplies,Binders and Binder Accessories,Fellowes PB500 Electric Punch Plastic Comb Bin...,Small Box,0.35,2009-06-09,Returned
176,2637,19078,2009-07-27,Critical,21,256.1200,0.03,Regular Air,11.97,4.98,...,Northwest Territories,Northwest Territories,Corporate,Office Supplies,Appliances,Staples 6 Outlet Surge,Small Box,0.58,2009-07-28,Returned
177,2643,19138,2011-09-05,Low,30,387.0000,0.01,Express Air,12.28,6.13,...,Northwest Territories,Northwest Territories,Home Office,Office Supplies,Storage & Organization,Recycled Eldon Regeneration Jumbo File,Small Box,0.57,2011-09-10,Returned
188,2956,21383,2009-01-30,Low,31,16066.8500,0.07,Regular Air,574.74,24.49,...,Northwest Territories,Northwest Territories,Consumer,Technology,Office Machines,Polycom ViaVideoª Desktop Video Communications...,Large Box,0.37,2009-02-04,Returned
200,3284,23488,2009-01-06,Critical,30,26133.3900,0.04,Delivery Truck,880.98,44.55,...,Northwest Territories,Northwest Territories,Home Office,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",Jumbo Box,0.62,2009-01-07,Returned
255,3929,28003,2011-03-19,Critical,31,157.7900,0.09,Regular Air,4.98,6.07,...,Northwest Territories,Northwest Territories,Corporate,Office Supplies,Paper,Xerox 1897,Small Box,0.36,2011-03-21,Returned
266,4082,29095,2011-03-08,Not Specified,40,291.6700,0.01,Regular Air,6.75,2.99,...,Northwest Territories,Northwest Territories,Small Business,Office Supplies,Binders and Binder Accessories,Wilson Jones DublLock¨ D-Ring Binders,Small Box,0.35,2011-03-09,Returned
272,4202,29861,2012-04-25,Critical,11,35.1700,0.03,Regular Air,3.08,0.99,...,Northwest Territories,Northwest Territories,Small Business,Office Supplies,Labels,Avery 481,Small Box,0.37,2012-04-26,Returned
330,4929,35047,2010-06-09,Medium,31,148.1700,0.00,Regular Air,4.71,0.70,...,Northwest Territories,Northwest Territories,Home Office,Office Supplies,Rubber Bands,Sterling Rubber Bands by Alliance,Wrap Bag,0.85,2010-06-11,Returned
340,5154,36707,2009-11-29,Medium,47,181.7800,0.02,Regular Air,3.78,0.71,...,Northwest Territories,Northwest Territories,Home Office,Office Supplies,Rubber Bands,Staples Bulldog Clip,Wrap Bag,0.39,2009-11-30,Returned
347,5325,37860,2010-08-27,Medium,1,104.8500,0.07,Regular Air,55.50,52.20,...,Northwest Territories,Northwest Territories,Corporate,Furniture,Office Furnishings,Eldon Cleatmat¨ Chair Mats for Medium Pile Car...,Medium Box,0.72,2010-08-29,Returned
360,5675,40132,2012-02-23,Low,26,1363.0000,0.04,Delivery Truck,50.98,14.19,...,Northwest Territories,Northwest Territories,Corporate,Furniture,Chairs & Chairmats,"Global Deluxe Stacking Chair, Gray",Jumbo Drum,0.56,2012-02-29,Returned
361,5676,40132,2012-02-23,Low,36,4698.5000,0.04,Delivery Truck,124.49,51.94,...,Northwest Territories,Northwest Territories,Corporate,Furniture,Tables,Bevis 36 x 72 Conference Tables,Jumbo Box,0.63,2012-02-29,Returned
362,5677,40132,2012-02-23,Low,16,347.4700,0.09,Regular Air,22.38,15.10,...,Northwest Territories,Northwest Territories,Corporate,Office Supplies,Binders and Binder Accessories,"Avery Flip-Chart Easel Binder, Black",Small Box,0.38,2012-03-02,Returned
363,5681,40160,2009-10-15,Critical,23,1404.2200,0.10,Regular Air,63.94,14.48,...,Northwest Territories,Northwest Territories,Consumer,Furniture,Office Furnishings,"Howard Miller 16"" Diameter Gallery Wall Clock",Small Box,0.46,2009-10-16,Returned
383,6097,43203,2012-02-14,Not Specified,32,225.1600,0.02,Regular Air,6.68,5.20,...,Northwest Territories,Northwest Territories,Home Office,Office Supplies,Paper,Xerox 1977,Small Box,0.37,2012-02-16,Returned
413,6692,47620,2012-06-26,Low,27,302.2000,0.04,Regular Air,10.98,3.37,...,Northwest Territories,Northwest Territories,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Fiskars¨ Softgrip Scissors,Small Pack,0.57,2012-07-05,Returned
419,6783,48295,2009-11-23,Medium,48,10051.5200,0.05,Regular Air,204.10,13.99,...,Northwest Territories,Northwest Territories,Small Business,Technology,Office Machines,"Soundgear Copyboard Conference Phone, Optional...",Medium Box,0.37,2009-11-25,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8164,903,6500,2012-10-12,Critical,20,38.2900,0.06,Regular Air,1.95,1.63,...,Alberta,West,Home Office,Office Supplies,Pens & Art Supplies,Avery Hi-Liter Comfort Grip Fluorescent Highli...,Wrap Bag,0.46,2012-10-13,Returned
8166,998,7203,2009-01-08,High,25,21752.0100,0.03,Regular Air,896.99,19.99,...,Alberta,West,Corporate,Office Supplies,Binders and Binder Accessories,GBC DocuBind TL300 Electric Binding System,Small Box,0.38,2009-01-10,Returned
8173,1146,8353,2009-05-15,Medium,34,286.9000,0.06,Regular Air,8.32,2.38,...,Alberta,West,Consumer,Technology,Computer Peripherals,"Imation 3.5 IBM Formatted Diskettes, 10/Box",Small Pack,0.74,2009-05-17,Returned
8174,1147,8353,2009-05-15,Medium,16,46.4000,0.08,Regular Air,2.94,0.96,...,Alberta,West,Consumer,Office Supplies,Pens & Art Supplies,Newell 343,Wrap Bag,0.58,2009-05-17,Returned
8202,1652,11909,2009-11-24,Not Specified,11,194.1740,0.03,Regular Air,20.99,0.99,...,Alberta,West,Consumer,Technology,Telephones and Communication,Accessory25,Wrap Bag,0.57,2009-11-26,Returned
8230,2589,18689,2009-12-24,Not Specified,38,281.1700,0.01,Regular Air,7.10,6.05,...,Alberta,West,Small Business,Office Supplies,Binders and Binder Accessories,"Wilson Jones Hanging View Binder, White, 1""",Small Box,0.39,2009-12-25,Returned
8231,2590,18689,2009-12-24,Not Specified,10,194.6500,0.05,Regular Air,18.97,9.03,...,Alberta,West,Small Business,Office Supplies,Paper,Computer Printout Paper with Letter-Trim Perfo...,Small Box,0.37,2009-12-25,Returned
8287,4677,33283,2010-03-20,Medium,48,10462.5400,0.02,Delivery Truck,218.75,69.64,...,Alberta,West,Home Office,Furniture,Tables,BoxOffice By Design Rectangular and Half-Moon ...,Jumbo Box,0.77,2010-03-20,Returned
8290,4800,34117,2012-02-07,High,45,299.9400,0.06,Regular Air,6.75,2.99,...,Alberta,West,Small Business,Office Supplies,Binders and Binder Accessories,Wilson Jones DublLock¨ D-Ring Binders,Small Box,0.35,2012-02-09,Returned
8291,4974,35366,2011-07-12,Low,23,149.3100,0.06,Regular Air,6.48,7.81,...,Alberta,West,Consumer,Office Supplies,Paper,Xerox 209,Small Box,0.37,2011-07-19,Returned
8296,5010,35744,2009-03-21,Not Specified,44,2587.5300,0.02,Regular Air,55.94,6.55,...,Alberta,West,Consumer,Technology,Computer Peripherals,Fellowes Smart Design 104-Key Enhanced Keyboar...,Small Box,0.68,2009-03-23,Returned
8297,5042,35936,2009-01-21,Medium,41,312.2600,0.08,Regular Air,7.84,4.71,...,Alberta,West,Corporate,Office Supplies,Binders and Binder Accessories,XtraLife¨ ClearVueª Slant-D¨ Ring Binders by C...,Small Box,0.35,2009-01-22,Returned
8298,5043,35936,2009-01-21,Medium,40,4152.5500,0.03,Regular Air,105.34,24.49,...,Alberta,West,Corporate,Furniture,Office Furnishings,Deflect-o DuraMat Antistatic Studded Beveled M...,Large Box,0.61,2009-01-22,Returned
8300,5086,36262,2010-07-27,Not Specified,23,164.0200,0.03,Express Air,6.68,6.15,...,Alberta,West,Corporate,Office Supplies,Paper,Xerox 1968,Small Box,0.37,2010-07-28,Returned
8301,5087,36262,2010-07-27,Not Specified,23,136.8100,0.01,Regular Air,5.68,3.60,...,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Acme¨ Preferred Stainless Steel Scissors,Small Pack,0.56,2010-07-28,Returned
8302,5088,36262,2010-07-27,Not Specified,26,4701.6900,0.00,Express Air,205.99,2.50,...,Alberta,West,Corporate,Technology,Telephones and Communication,V70,Small Box,0.59,2010-07-27,Returned
8309,5168,36772,2010-05-15,Medium,47,280.4500,0.10,Regular Air,6.48,6.35,...,Alberta,West,Home Office,Office Supplies,Paper,Xerox 200,Small Box,0.37,2010-05-15,Returned
8310,5206,36998,2012-09-29,Low,50,481.2300,0.07,Regular Air,9.98,12.52,...,Alberta,West,Corporate,Furniture,Office Furnishings,Eldon¨ Expressionsª Wood and Plastic Desk Acce...,Small Box,0.57,2012-10-04,Returned
8311,5207,36998,2012-09-29,Low,41,265.3900,0.10,Regular Air,6.48,9.54,...,Alberta,West,Corporate,Office Supplies,Paper,Xerox 1905,Small Box,0.37,2012-10-06,Returned
8312,5208,36998,2012-09-29,Low,8,56.5000,0.02,Regular Air,6.48,5.19,...,Alberta,West,Corporate,Office Supplies,Paper,Xerox 1995,Small Box,0.37,2012-10-01,Returned
8327,5882,41760,2012-01-27,Low,21,6688.6600,0.04,Regular Air,315.98,19.99,...,Alberta,West,Small Business,Office Supplies,Binders and Binder Accessories,GBC ProClickª 150 Presentation Binding System,Small Box,0.38,2012-02-01,Returned
8328,5883,41760,2012-01-27,Low,22,247.4500,0.00,Regular Air,9.98,12.52,...,Alberta,West,Small Business,Furniture,Office Furnishings,Eldon¨ Expressionsª Wood and Plastic Desk Acce...,Small Box,0.57,2012-02-03,Returned
8329,5884,41760,2012-01-27,Low,7,685.7205,0.08,Regular Air,115.99,2.50,...,Alberta,West,Small Business,Technology,Telephones and Communication,6160,Small Box,0.57,2012-02-01,Returned
8330,5885,41760,2012-01-27,Low,40,3232.1335,0.05,Regular Air,95.99,8.99,...,Alberta,West,Small Business,Technology,Telephones and Communication,600 Series Flip,Small Box,0.57,2012-02-01,Returned
8355,7371,52518,2012-04-03,Critical,8,168.9900,0.08,Regular Air,20.95,4.00,...,Alberta,West,Consumer,Technology,Computer Peripherals,"Fellowes Basic 104-Key Keyboard, Platinum",Small Box,0.60,2012-04-04,Returned
8362,7812,55874,2009-02-16,Medium,24,129.5300,0.06,Regular Air,5.68,1.39,...,Alberta,West,Small Business,Office Supplies,Envelopes,Staples Standard Envelopes,Small Box,0.38,2009-02-16,Returned
8377,8247,58949,2012-12-16,Critical,50,1558.9425,0.02,Regular Air,35.99,1.10,...,Alberta,West,Small Business,Technology,Telephones and Communication,Accessory35,Small Box,0.55,2012-12-17,Returned
8381,1219,8961,2011-06-28,Low,48,4644.8700,0.08,Delivery Truck,100.80,60.00,...,Alberta,West,Small Business,Furniture,Tables,"Barricks 18"" x 48"" Non-Folding Utility Table w...",Jumbo Drum,0.59,2011-07-03,Returned
8386,5166,36772,2010-05-15,Medium,8,22.8500,0.07,Regular Air,2.88,0.99,...,Alberta,West,Home Office,Office Supplies,Labels,Avery 474,Small Box,0.36,2010-05-15,Returned
8387,5167,36772,2010-05-15,Medium,16,12007.0500,0.09,Delivery Truck,808.49,55.30,...,Alberta,West,Home Office,Technology,Office Machines,"Hewlett-Packard Business Color Inkjet 3000 [N,...",Jumbo Drum,0.40,2010-05-17,Returned

### Check the length of returns. Notice that the number of rows has been reduced by too much

In [59]:
len(returns)

872

### Replace NAs by "Not returned" instead
Since the number of rows was reduced by too much due to deleting Nas columns; it is better to write a function to replace NAs by some string. In our case we will replace them by Not Returned as following

In [60]:
def replace_nan(x):
    if x is np.nan:
        return "Not Returned"
    else:
        return x

In [61]:
leftjoin['Status'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: Status, dtype: object

### Apply the function to the Status column

In [62]:
leftjoin['Status'] = leftjoin['Status'].apply(replace_nan)

In [63]:
leftjoin['Status'].head()

0    Not Returned
1    Not Returned
2    Not Returned
3    Not Returned
4    Not Returned
Name: Status, dtype: object

In [64]:
leftjoin.Status.value_counts()

Not Returned    7527
Returned         872
Name: Status, dtype: int64

### Write a function to adjust the sale:
if Status is Returned return 0, if it is Not Returned retiurn the value of Sales

In [65]:
def adjust_sales(x):
    if x['Status'] == 'Returned':
        return 0
    elif x['Status'] == 'Not Returned':
        return x['Sales']

### Apply the function to left join. Put the result in a column called Adjusted Sales

In [66]:
# if we are using row values in our formula, use axis=1 (by-row)
leftjoin['Adjusted Sales'] = leftjoin.apply(adjust_sales, axis=1)

In [67]:
leftjoin['Adjusted Sales'].head()

0      261.5400
1    10123.0200
2      244.5700
3     4965.7595
4      394.2700
Name: Adjusted Sales, dtype: float64

In [109]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})


def square(x):
    return x * x


df1 = df.apply(square)

df

   A   B
0  1  10
1  2  20

In [111]:
df1

   A    B
0  1  100
1  4  400

In [113]:
df1 = df.apply(lambda x: x * x)
df1

   A    B
0  1  100
1  4  400

In [114]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})

df1 = df.apply(np.sum, axis=0)
print(df1)

df1 = df.apply(np.sum, axis=1)
print(df1)

A     3
B    30
dtype: int64
0    11
1    22
dtype: int64

In [116]:
import pandas as pd


def sum(x, y, z):
    return x + y + z


df = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})

df

   A   B
0  1  10
1  2  20

In [117]:
df1 = df.apply(sum, args=(1, 2))
print(df1)

   A   B
0  4  13
1  5  23

### Find the sum of Adjute Sales

In [68]:
leftjoin['Adjusted Sales'].sum()

13260747.0965

### Find the sum of Sales

In [69]:
leftjoin['Sales'].sum()

14915600.824000001

### Compute the Total returns which is the difference between Sales and Adjusted Sales

In [70]:
# Total returns
leftjoin['Sales'].sum() - leftjoin['Adjusted Sales'].sum()

1654853.727500001

## Copy column from one DF to another

### Copy Adjusted Sales from leftjoin to store dataframe

In [71]:
len(leftjoin['Adjusted Sales'])

8399

In [72]:
len(store)

8399

In [73]:
store.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Order Priority', 'Order Quantity',
       'Sales', 'Discount', 'Ship Mode', 'Unit Price', 'Shipping Cost',
       'Customer Name', 'Province', 'Region', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Name',
       'Product Container', 'Product Base Margin', 'Ship Date'],
      dtype='object')

In [74]:
store['Adjusted Sales'] = leftjoin['Adjusted Sales']

In [75]:
store['Adjusted Sales'].head()

0      261.5400
1    10123.0200
2      244.5700
3     4965.7595
4      394.2700
Name: Adjusted Sales, dtype: float64

### lets experiment with 2 dataframe where we have an Index Mismatch with Column assignment

In [76]:
smalldf = pd.DataFrame({"prenom": ["fred", "sally", "sam"], "id": ['1','2','3']})

In [77]:
smalldf

  prenom id
0   fred  1
1  sally  2
2    sam  3

In [78]:
smalldf = smalldf.set_index("id")
smalldf

   prenom
id
1    fred
2   sally
3     sam

In [79]:
# we aren't saving this into smalldf now, just showing you the output
smalldf.reset_index()

  id prenom
0  1   fred
1  2  sally
2  3    sam

In [80]:
smalldf

   prenom
id
1    fred
2   sally
3     sam

In [81]:
nomsdf = pd.DataFrame({"nom": ["Lagrange", "LeStrange", "Fermier"]})

In [82]:
nomsdf  # notice is has a different index -- row number by default

         nom
0   Lagrange
1  LeStrange
2    Fermier

In [83]:
smalldf['nom'] = nomsdf['nom']

In [84]:
# This did not work.  It created the new columm, but assigned NaN.
smalldf

   prenom  nom
id
1    fred  NaN
2   sally  NaN
3     sam  NaN

If you know these are the same length and order, you can use the values from the df you are trying to assign to:

In [85]:
# check their length
len(smalldf) == len(nomsdf)

True

### Copy the nom column from nomsdf to small df by assigning the values

In [86]:


smalldf['nom'] = nomsdf['nom'].values

In [87]:
smalldf

   prenom        nom
id
1    fred   Lagrange
2   sally  LeStrange
3     sam    Fermier

## Adding a Row or Rows With Append

In [88]:
newnames = pd.DataFrame({"prenom": ["harry"], "nom": ["Berbier"], "id": ['4']})

In [89]:
newnames

  prenom      nom id
0  harry  Berbier  4

In [90]:
newnames = newnames.set_index("id")

In [91]:
newnames

   prenom      nom
id
4   harry  Berbier

### Add a new row to newnames using `append`

In [92]:
smalldf = smalldf.append(newnames)
smalldf

   prenom        nom
id
1    fred   Lagrange
2   sally  LeStrange
3     sam    Fermier
4   harry    Berbier

Another option is to reset the index so they are both just ordered by row number and then assign.